<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        <bean id="admin" class="Admin"/>
        <bean id="vasylId" class="GoldenCustomer">
            <constructor-arg value="Vasyl"/>
            <constructor-arg ref="admin"/>
        </bean>
        <bean id="ivanId" class="SilverCustomer">
            <constructor-arg value="Forward"></constructor-arg>
        </bean>

        <bean id="leon" class="LeadCustomer">
            <property name="subordinates">
                <list>
                    <ref bean="vasylId"></ref>
                    <ref bean="ivanId"></ref>
                </list>
            </property>
        </bean>

</beans>
